
  <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>   
  <script type="text/javascript" src="/javascripts/bootstrap.js"></script>    			
  <script type="text/javascript" src="/javascripts/bmi.js"></script>      
  <script type="text/javascript" src="/javascripts/bootstrap-formhelpers-phone.js"></script>      
  <script type="text/javascript" src="/javascripts/bootstrap-formhelpers.min.js"></script>     


  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>



  <script type="text/javascript" src="/javascripts/textmelater.js"></script>      
  <script type="text/javascript" src="/javascripts/textMeNow.js"></script>      
  <script type="text/javascript" src="/javascripts/emailSubscription.js"></script>      
  
  
  
	</body>
	<div class="container"> 
      <hr>
      <footer class="footer">
        <div class="pull-right">
          made by <a href="https://twitter.com/richardjlo" target="_blank">@richardjlo</a>          
        </div>        
      </footer>
    </div>
</html>