<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>    		
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel='stylesheet' href='/stylesheets/bootstrap.css' />		
		<link rel='stylesheet' href='/stylesheets/bmi.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />		
		<script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
		

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="../../assets/js/html5shiv.js"></script>
	      <script src="../../assets/js/respond.min.js"></script>
	    <![endif]-->		
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container">
	        <a class="navbar-brand" href="/"> rlo labs </a>
	      </div>
	    </nav>