<%= include layouts/header.ejs %>

	<div class="container">	
		<form novalidate class="bmi-calc form-group col-md-4">
			<h1 class="form-signin-heading">BMI Calculator</h1>
			
			<input type="text" class="form-control" placeholder="height (feet)" id="heightFt" name="heightFt" pattern="\d*">

			<input type="text" class="form-control" placeholder="height (inches)" id="heightIn" name="heightIn" pattern="\d*">

			<input type="text" class="form-control" placeholder="weight (lbs)" id="weight" name="weight" pattern="\d*">
			
			<input type="submit" class="btn btn-lg btn-primary btn-block" value="Calculate BMI"/>	
			
		</form>		
		<div id='result' class="col-md-6">
		</div>	
	</div>


	<div class="container">
		<div class="col-md-12">	
		<h2>Categories</h2>			
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
					<th>BMI Range</th>
					<th>Category</th>
					</tr>
				</thead>
				<tbody>
					
					<tr>
						<td>< 18.5</td>
						<td>Underweight</td>
					</tr>
					<tr>
						<td>18.5 - 24.9</td>
						<td>Normal</td>
					</tr>
					<tr>
						<td>25 - 29.9</td>
						<td>Overweight</td>
					</tr>
					<tr>
						<td>> 30</td>
						<td>Obese</td>
					</tr>					
				</tbody>
			</table>	
		</div>		
		<div class="source col-md-12">
			<p>Source: <a href="http://www.nhlbi.nih.gov/guidelines/obesity/BMI/bmicalc.htm" target="_blank">National Institutes of Health</a></p>
		</div>	
	</div>	
 
<%= include layouts/footer.ejs %>