<%= include layouts/header.ejs %>

<div class="container"> 
  <div class="alert-placeholder col-md-8"></div>

  <form novalidate class="form-horizontal subscribe col-md-6" role="form">
    <h1><%= title %></h1>
    
    <hr>    

    <!-- email -->
    <div class="form-group">
      <label for="email" class="control-label col-md-3">Email Address</label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="email" id="email" >
      </div>
    </div> <!-- email -->
    <p></p>

    <!-- Submit Button -->
    <div class="form-group">
      <div class="col-md-offset-8 col-md-4">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Subscribe"/> 
      </div>
    </div> <!-- Submit Button -->
  </form>      

</div>

<%= include layouts/footer.ejs %>