<% include layouts/header.ejs %>

<div class="container">
	<div class="section" id="fitness">
		<div class="title"><h2>Apps</h2></div>
		<ul>
			<li><a href="/bmi">BMI Calculator</a></li>				
			<li><a href="/textMeNow">Text Me Now</a></li>				
			<li><a href="/email">Email Subscribe</a></li>				
		</ul>
	</div>
	<!--
	<div class="section" id="math">
		<div class="title"><h2>Category 2</h2></div>
		<ul>
			<li><a href="/">TODO</a></li>
			<li><a href="/">TODO</a></li>
			<li><a href="/">TODO</a></li>
			<li><a href="/">TODO</a></li>
			<li><a href="/">TODO</a></li>
		</ul>
	</div>
	<div class="section" id="science">
		<div class="title"><h2>Category 3</h2></div>
		<ul>
			<li><a href="/">TODO</a></li>
			<li><a href="/">TODO</a></li>
			<li><a href="/">TODO</a></li>
			<li><a href="/">TODO</a></li>
			<li><a href="/">TODO</a></li>
		</ul>
	</div>		
	-->
</div>

	
<% include layouts/footer.ejs %>