<%= include layouts/header.ejs %>

<div class="container"> 
  <div class="alert-placeholder col-md-8">

  </div>

  <form novalidate class="form-horizontal sendMsg col-md-6" role="form" method="POST">
    <h1><%= title %></h1>
    <p>Easy text messages from your computer. (US numbers only)</p>

    <hr>    

    <!-- Number -->
    <div class="form-group">
      <label for="number" class="control-label col-md-3">Phone Number</label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="number" id="number" placeholder="(555) 555-5555" pattern="\d*">
      </div>
    </div> <!-- Number -->

    <!-- Date -->
<!--     <div class="form-group">
      <label for="date" class="col-md-2 control-label">Date</label>
      <div class="col-md-4">
        <input type="text" class="form-control" id="date" placeholder="10/1/2013">
      </div>
    </div>  -->
    <!-- Date -->    

    <!-- Time -->
<!--     <div class="form-group">
      <label for="time" class="col-xs-12 col-md-2 control-label">Time</label>
      <div class="col-xs-6 col-md-2">
        <input type="text" class="form-control" id="time"  placeholder="10:00 AM" pattern="\d*">
      </div>

      <div class="col-xs-6 col-md-2">
        <select class="form-control">
          <option value="pst">Pacific (PST)</option>
          <option value="mst">Mountain (MST)</option>
          <option value="cst">Central (CST)</option>
          <option value="est">Eastern (EST)</option>
        </select>
      </div>
    </div>  -->
    <!-- Time -->

    <!-- Message -->
    <div class="form-group">
      <label for="message" class="col-md-3 control-label">Message</label>      
      <div class="col-md-9">
        <input type="text" class="form-control" name="message" id="message">      
      </div>
    </div>  <!-- Message -->

    <!-- Submit Button -->
    <div class="form-group">
      <div class="col-md-offset-8 col-md-4">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Send Now"/> 
      </div>
    </div> <!-- Submit Button -->
  </form>      
</div>

<%= include layouts/footer.ejs %>