.container .bmi-calc .form-control {
  margin: 10px 0 10px 0;
}
.container #result {
  margin-top: 3%;
}
.container #result h3 {
  line-height: 65px;
}
.highlight {
  padding: 5px 8px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
